docker.enabled = true
process.container = 'alemenze/magicuniqueamplicons'

params {
  reads = "data/*{1,2}.fastq.gz"
  outdir = './results'
  tracedir = "${params.outdir}/pipeline_info"
}

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}